{% extends 'base.html' %}


{% block title %}Interests{% endblock %}

{% block content %}
          <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Інтереси</h2>
          <strong><big><dfn><p>Окрім того, що я є студентом ЧДТУ, я більшу частину свого часу насолоджуюся перебуванням на свіжому повітрі зі своїми друзями. Мені подобається грати в баскетбол, волейбол, футбол, кататися на велосипеді, насолоджуватися їжею..</p></dfn></big></strong>
          <strong><big><dfn><p class="mb-0">Коли я змушений перебувати в приміщенні, я стежу за низкою науково-фантастичних та фантастичних жанрів фільмів та телевізійних шоу, і я проводжу значну частину свого вільного часу, досліджуючи останні технологічні досягнення у світі кодування.</p></dfn></big></strong>
        </div>
      </section>
{% endblock %}