{% extends 'base.html' %}


{% block title %}Skills{% endblock %}

{% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Навички</h2>

          <div class="subheading mb-2"><strong><code>Мови програмування &amp; інструменти</code></strong></div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-java"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-django"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicons devicons-php"></i>
            </li>
			<li class="list-inline-item">
              <i class="devicons devicons-database"></i>
            </li>
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li> -->
            <li class="list-inline-item">
              <i class="devicons devicons-android"></i>
            </li>
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-grunt"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-css"></i>
            </li> -->
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
          </ul>

          <div class="subheading mb-3"><kbd>Робочий процес</kbd></div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              <big><b>Дослідження</li></big></b>
            <li>
              <i class="fa-li fa fa-check"></i>
              <big><b>Дизайн</li></big></b>
            <li>
              <i class="fa-li fa fa-check"></i>
              <big><b>Впровадження</li></big></b>
            <li>
              <i class="fa-li fa fa-check"></i>
              <big><b>Налагодження</li></big></b>
          </ul>
        </div>
      </section>

{% endblock %}